@model examplemvc.Models.Post
@{
    ViewData["Title"] = "Home Page";
}
@if (TempData.ContainsKey("SuccessMessage"))
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Success',
            text: '@TempData["SuccessMessage"]'
        });
    </script>
}
@if (TempData.ContainsKey("ErrorMessage"))
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '@TempData["ErrorMessage"]'
        });
    </script>
}

<div class="container">
    <h2 class="text-center">Edit Post</h2>
    <hr />
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-action="UpdatePost" asp-route-id="@Model.Id" method="post">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" value="@Model.Title" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="body">Body:</label>
                    <textarea id="body" name="body" class="form-control">@Model.Body</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>